---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/top/Hero.astro";
import Challenges from "../components/top/Challenges.astro";
import Profile from "../components/top/Profile.astro";
import Works from "../components/top/works/Works.astro";
import Plan from "../components/top/Plan.astro";
---

<Layout
  title="Dynamis | フロントエンドエンジニア川端康平のポートフォリオサイトです。"
>
  <!-- main -->
  <main id="top" role="main">
    <Hero />
    <Challenges />
    <Profile />
    <Works />
    <Plan />
  </main>
</Layout>
