---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/top/Hero.astro";
import Challenges from "../components/top/Challenges.astro";
import Profile from "../components/top/Profile.astro";
import Works from "../components/top/Works.astro";
import Plan from "../components/top/Plan.astro";
---

<Layout title="Home">
  <!-- main -->
  <main id="top" class="stickyStack-parent" role="main">
    <Hero />
    <div class="stickyStack-child">
      <Challenges />
      <Profile />
      <Works />
      <Plan />
    </div>
  </main>
</Layout>
