---
//src/components/top/Hero.astro
---

<section
  class="hero stickyStack-child"
  id="hero"
  aria-labelledby="hero-heading"
>
  <div class="container">
    <h1 class="hero-ttl">
      想いを響かせ、<br />
      未来を創る
    </h1>
  </div>
  <p class="hero-sub-title">
    フロントエンドエンジニア川端康平のポートフォリオサイトです。 <br />
    <span class="eng"
      >This is the portfolio site of Kohei Kawabata, a front-end engineer.</span
    >
  </p>
</section>
