---
//src/components/top/Profile.astro
---
<section class="profile" id="profile" aria-labelledby="profile-heading">
  <div class="profile-bg"></div>
  <div class="container">
    <h2 class="profile-ttl eng section-ttl" id="profile-heading">Profile</h2>
    <p class="profile-name">
      川端 康平<br />
      <span class="eng">Kohei Kawabata</span>
    </p>
    <div class="profile-main">
      <div class="profile-main__left">
        <img src="/assets/images/profile-main.jpg" alt="顔写真" />
      </div>
      <p class="profile-main__right desc">
        神戸大学法学部卒業後、新卒でSIerに営業職で入社するものの、レールに乗った人生の在り方に疑問を感じ退職。<br
        /><br />
        その後、バンド活動をしながらバーテンダーや植木職人を経て37歳の時にWebエンジニアになることを決意し、フィリピンに英語IT留学をする。<br
        />
        帰国後はフリーランスWebエンジニアとして活動する傍ら、地元の会社で1人クリエティブ兼情シスや事業の立ち上げを任されたり、現在は福祉事業の中でプログラミング教材の開発にも携わっています。<br
        /><br />
        制作においては、クライアントの想いを形にすること、その先のユーザーに寄り添った提案を心がけています。<br
        />
        これからも常に挑戦する気持ちを忘れず、活動していきたいと思います。
      </p>
    </div>
  </div>
</section>
