---
//src/components/top/TopFooter.astro
---

<div class="footer">
  <img class="footer-logo" src="/assets/images/logo.svg" alt="ロゴ画像" />
  <ul class="footer-social" aria-label="フッターSNSリンク">
    <li class="footer-social__item facebook">
      <a href="#" target="_blank" class="footer-social__link">
        <img src="/assets/images/facebook.svg" alt="facebook" />
      </a>
    </li>
    <li class="footer-social__item instagram">
      <a href="#" target="_blank" class="footer-social__link">
        <img src="/assets/images/instagram.svg" alt="instagram" />
      </a>
    </li>
    <li class="footer-social__item twitter">
      <a href="#" target="_blank" class="footer-social__link">
        <img src="/assets/images/x.svg" alt="x" />
      </a>
    </li>
  </ul>
  <small class="footer-copyright"> &copy;dynamis</small>
</div>